(Lab 1) KMeans Clustering with Pthreads/Kevin Lin - Lab 3 report.pdf
(Lab 1) KMeans Clustering with Pthreads/~$Graphs.xlsx
(Lab 1) KMeans Clustering with Pthreads/MediumTiming.txt
(Lab 1) KMeans Clustering with Pthreads/LargeTiming.txt
Lab1 - Setup (Kevin Lin).docx